:root{
    --button-color: 0, 255, 0
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--button-color), 0.5);
    color: white;
    min-width: 1.3em;
    min-height: 1.3em;
    cursor: pointer;
}

.card:hover{
    background-color: rgba(var(--button-color), 1);
}

.flip-card {
    background-color: transparent;
    width: 1.3em;
    height: 1.3em;
    font-size: 6em;
}

.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.grid-container {
    display: grid;
    width: fit-content;
}
